<div class="back-img1"></div>

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">Pantry Pickup</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Claim a Donation</a></li>
                <li><a href="/donator">Make a Donation</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container content">

    <h1 class="page-header color-scheme1">Donations</h1>

    <p class="p-text">Here is a list of donations, checkout where you can claim them.</p>
    
    <br>
    <br>

    <table class="highlight">
        {{!-- Sorter add in future features --}}
        {{!-- <div class="row">
            <div class="col s9"></div>
            <div class="input-field col s3" id="donation-sort">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Expiration Date</option>
                    <option value="2">Size</option>
                    <option value="3">Item</option>
                    <option value="4">Donater</option>
                </select>
                <label>Sort By</label>
            </div>
        </div> --}}

        <thead>
            <tr>
                <th>Item</th>
                <th>Donater</th>
                <th>Expiration</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        {{!-- Each Donations  --}}

        {{!-- Example remove when proper object is passedin --}}


        <tbody>
            {{#each donation}}
            {{#unless donated}}
            <tr>
                <td>{{this.food}}</td>
                <td>{{this.User.name}}</td>
                <td>{{this.expiration}}</td>
                <td><a class="modal-trigger donation-address" data-address="{{this.User.address}}"
                        href="#map-modal">Location</a></td>
                {{!--  make modal-trigger if adding feature--}}
                <td><button class="waves-effect waves-light btn claim-btn" data-itemid="{{this.id}}"
                        href="#claim-modal">Claim</button></td>
            </tr>

            {{/unless}}
            {{/each}}
        </tbody>


        {{!-- End of Example stop removing --}}

    </table>

</div>

<div id="map-modal" class="modal">
    <div class="modal-content">
        <p class="p-text text-center" id="map-address">Address</p>
        {{!-- put map here --}}
        <div id="map"></div>
    </div>
</div>

<div id="claim-modal" class="modal">
    <div class="modal-content">
        <p class="p-text text-center" id="map-address">Test</p>
        {{!-- put map here --}}
    </div>

</div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy0Avf_rMUpFznmhG5aGXK1Krj3CAxuBA&callback=initMap"
    type="text/javascript"></script>
<script src="/js/donation.js"></script>